<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    <title>{% block title %}{% endblock %} - KOSPI</title>
    {% endblock %}
  </head>
  <body>
    <div class="columns is-marginless">
      <div class="section h-100 has-background-white-ter">
        <h1 class="title is-2 has-text-centered">KOSPI</h1>
        <aside class="menu">
          <p class="menu-label">
            Instances
          </p>
          <ul class="menu-list">
            <li><a href="{{ url_for("instance_list") }}">View All</a></li>
            <li><a href="{{ url_for("instance_create") }}">Create New</a></li>
          </ul>
          <p class="menu-label">
            Admin
          </p>
          <ul class="menu-list">
            <li><a href="{{ url_for("admin_service") }}">Services</a></li>
            <li><a href="{{ url_for("admin_settings") }}">Users</a></li>
            <li><a href="{{ url_for("admin_settings") }}">Settings</a></li>
          </ul>
          <p class="menu-label">
            User
          </p>
          <ul class="menu-list">
            <li><a>Settings</a></li>
          </ul>
        </aside>
      </div>

      <div class="column">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bulma-tagsinput@2.0.0/dist/js/bulma-tagsinput.min.js"></script>
  <script>bulmaTagsinput.attach();</script>
</html>
