<div class="field">
    <label class="label">{{ key }}</label>
    <div class="control">
    {% if value.type == 'string' %}
        <input class="input" type="text">
    {% elif value.type == 'integer' %}
        <input class="input" type="number">
    {% elif value.type == 'boolean' %}
        <input type="checkbox">
    {% elif value.type == 'object' %}
        {% include 'crd_field.html.jinja' if value.type == 'object' else None %}
    {% endif %}
    </div>
</div>
