{% extends 'base.html.jinja' %}
{% block title %}Create Service{% endblock %}
{% block content %}

<div class="box">
    <form action="{{ url_for("instance_create_uuid", uuid=service.metadata.uuid) }}" method="post">
    <div class="level">
        <div class="level-left">
            <div>
                <h3 class="title is-3">{{ service.metadata.name }}</h3>
                {% if spec.schema.open_apiv3_schema.description %}
                    <h4 class="subtitle is-4">{{ spec.schema.open_apiv3_schema.description }}</h4>
                {% endif %}
            </div>
        </div>
        <div class="level-right">
            <input class="button is-success" type="submit" value="Next">
        </div>
    </div>
    <div class="box">
        <label class="label">Metadata</label>
        <div class="control box">
            <label class="label">Name</label>
            <input class="input" type="text" name="metadata.name">
        </div>
        <div class="control box">
            <label class="label">Description</label>
            <input class="input" type="text" name="metadata.description">
        </div>
    </div>
    {{ tmpl }}
    <div class="level">
        <div class="level-left">
            <div>
                <h3 class="title is-3">{{ service.metadata.name }}</h3>
                {% if spec.schema.open_apiv3_schema.description %}
                    <h4 class="subtitle is-4">{{ spec.schema.open_apiv3_schema.description }}</h4>
                {% endif %}
            </div>
        </div>
        <div class="level-right">
            <input class="button is-success" type="submit" value="Next">
        </div>
    </div>
    </form>
</div>

<script>
// arguments: reference to select list, callback function (optional)
function getSelectedOptions(sel, fn) {
    var opts = [], opt;

    // loop through options in select list
    for (var i=0, len=sel.options.length; i<len; i++) {
        opt = sel.options[i];

        // check if selected
        if ( opt.selected ) {
            // add to array of option elements to return from this function
            opts.push(opt);

            // invoke optional callback function if provided
            if (fn) {
                fn(opt);
            }
        }
    }

    // return array containing references to selected option elements
    return opts;
}

</script>

{% endblock %}
