{% extends 'base.html.jinja' %}
{% block title %}Services{% endblock %}
{% block content %}

<section class="section h-100 is-vcentered">
{% if instances | length %}
  <div class="level">
      <h2 class="title is-4 level-left is-marginless">Instances</h2>
      <div class="level-right">
          <button class="button is-success"><span class="icon"><i class="fas fa-plus"></i></span></button>
      </div>
  </div>
<div class="columns is-multiline">
  {% for instance in instances %}
  <div class="column">
    <article class="media service">
      <figure class="media-left">
        <div class="image is-centered is-128x128">
          <img class="shadowed" src="{{ instance.service.metadata.icon }}">
        </div>
      </figure>
      <div class="media-content">
        <div class="content">
          <h4 class="title">{{ instance.metadata.name }}</h4>
          <p>{{ instance.metadata.description }}</p>
        </div>
      </div>
      <div class="media-right">
        <div class="buttons has-addons is-vertical are-small">
          <button class="button is-success"><span class="icon"><i class="fas fa-play"></i></span></button>
          <button class="button is-warning"><span class="icon"><i class="fas fa-pause"></i></span></button>
          <a href="{{ url_for("instance_edit", uuid=instance.metadata.uuid) }}" class="button is-warning">
              <span class="icon"><i class="fas fa-pen"></i></span>
          </a>
          <a href="{{ url_for("instance_delete", uuid=instance.metadata.uuid) }}" class="button is-danger">
              <span class="icon"><i class="fas fa-trash"></i></span>
          </a>
        </div>
      </div>
    </article>
  </div>
  {% endfor %}
</div>

{% else %}
<div class="hero">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        You have no service instances
      </h1>
      <a href="{{ url_for("instance_create") }}" class="button is-success">Create instance</a>
    </div>
  </div>
</div>
{% endif %}
</section>
{% endblock %}
