{% extends 'base.html.jinja' %}
{% block title %}Create New Instance{% endblock %}
{% block content %}

<section class="section h-100 is-vcentered">
    {% if services | length %}
    <div class="level">
        <h2 class="title is-4 level-left is-marginless">Create Instance</h2>
    </div>
    <div class="columns is-multiline">
        {% for service in services %}
        <div class="column">
            <article class="media service">
                <figure class="media-left">
                    <div class="image is-centered is-128x128">
                        <img class="shadowed" src="{{ service.metadata.icon }}">
                    </div>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <h4 class="title">{{ service.metadata.name }}</h4>
                        <p>{{ service.metadata.description }}</p>
                    </div>
                    <a href="{{ url_for("instance_create_uuid", uuid=service.metadata.uuid) }}" class="button is-success">Create</a>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="hero">
    <div class="hero-body has-text-centered">
        <div class="container">
        <h1 class="title">
            No Services Available
        </h1>
        </div>
    </div>
    </div>
    {% endif %}
</section>
{% endblock %}
