.buttons.is-vertical {
    flex-direction: column;
    margin-bottom: 0;
}

.buttons.is-vertical .button {
    margin-bottom: 0;
}

.buttons:last-child.is-vertical {
    margin-bottom: 0;
}

.buttons.is-vertical.has-addons .button:not(:last-child):not(:first-child) {
    border-radius: 0 !important;
    border-top: 0px;
}

.buttons.is-vertical.has-addons .button:first-child {
    border-radius: $radius !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-right: -1px;
}

.buttons.is-vertical.has-addons .button:last-child {
    border-radius: $radius !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    margin-right: -1px;
    border-top: 0px;
}
