@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$family-sans-serif: 'IBM Plex Sans', sans-serif;

@import "../thirdparty/bulma/sass/utilities/_all.sass";
@import "../thirdparty/bulma/sass/base/_all.sass";

@import "buttons.scss";

$title-weight: 500;

$menu-label-color: $text;
$menu-label-font-size: 1rem;
$menu-label-spacing: 0.3em;

.shadowed {
  -webkit-filter: drop-shadow(0em 0em 0.2em #222);
  filter: drop-shadow(0em 0em 0.2em #222);
}

.service {
  @extend .box;

  padding: 0px !important;

  .media-content {
    padding-top: 1rem;
  }

  .media-right {
    padding-right: 1rem;
  }

  .media-left {
    padding: 0.5rem;
  }
}

.image.is-centered img {
    display: block;
    height: 100%;
    width: 100%;
}

.service .media-right {
  align-self: center;
}

.columns .is-multiline .column {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.kospi-menu {
    background-color: $grey;
}

.h-100 {
    min-height: 100vh;
}

//.tile-icon {
//    position: absolute;
//    top: 50%;
//    -webkit-transform: translateY(-50%);
//    transform: translateY(-50%);
//}

.services {
    padding-left: 5rem;
    padding-right: 5rem;
}

.services .column {
    flex: 1 0 auto;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}

.services h2 {
    display: inline-block;
}

.service-card {
    display: flex;
    flex-direction: row;
}

.service-card .card-image {
    height: 8.8rem;
    width: 8.8rem;
}

.service-card .card-content {
    max-height: 8.8rem;
    overflow-y: auto;
}

.service-card .card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service-card .card-footer {
    display: flex;
    flex-direction: column;
}

.service-card .card-footer .btn i {
    flex: 1;
}

@import "../thirdparty/bulma/sass/elements/_all.sass";
@import "../thirdparty/bulma/sass/form/_all.sass";
@import "../thirdparty/bulma/sass/components/_all.sass";
@import "../thirdparty/bulma/sass/grid/_all.sass";
@import "../thirdparty/bulma/sass/layout/_all.sass";
@import "../thirdparty/bulma-extensions/bulma-tagsinput/dist/css/bulma-tagsinput.sass"
