{% extends 'base.html.jinja' %}
{% block title %}Services{% endblock %}
{% block content %}

<section class="section h-100 is-vcentered">
{% if services | length %}
  <div class="level">
      <h2 class="title is-4 level-left is-marginless">Services</h2>
      <div class="level-right">
          <a href="{{ url_for('admin_service_create') }}" class="button is-success">
              <span class="icon"><i class="fas fa-plus"></i></span>
          </a>
      </div>
  </div>
<div class="columns is-multiline">
  {% for service in services %}
  <div class="column">
    <article class="media service">
      <figure class="media-left">
        <div class="image is-centered is-128x128">
          <img class="shadowed" src="{{ service.metadata.icon }}">
        </div>
      </figure>
      <div class="media-content">
        <div class="content">
          <h4 class="title">{{ service.metadata.name }}</h4>
          <p>{{ service.metadata.description }}</p>
        </div>
      </div>
      <div class="media-right">
        <div class="buttons has-addons is-vertical are-small">
          <a href="{{ url_for("admin_service_edit", uuid=service.metadata.uuid) }}" class="button is-warning"><span class="icon"><i class="fas fa-pen"></i></span></a>
          <a href="{{ url_for("admin_service_delete", uuid=service.metadata.uuid) }}" class="button is-danger"><span class="icon"><i class="fas fa-trash"></i></span></a>
        </div>
      </div>
    </article>
  </div>
  {% endfor %}
</div>

{% else %}
<div class="hero">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        You have no service instances
      </h1>
      <a href="{{ url_for('admin_service_create') }}" class="button is-success">
        Create instance
      </a>
    </div>
  </div>
</div>
{% endif %}
</section>
{% endblock %}
