{% extends 'base.html.jinja' %}
{% block title %}Create Service{% endblock %}
{% block content %}

<script>
  // Gets the value of the currently selected crd and redirects to it
  function submitLink() {
      var crd = document.getElementById("crd").value;
      location.href = crd
  }
</script>

<section class="section h-100 is-vcentered">
{% if crds | length %}
  <div class="level">
    <h2 class="title is-4 level-left is-marginless">Create Instance</h2>
  </div>
  <div class="columns is-multiline">
    <div class="box">
        <div class="field">
          <label class="label">Custom Resource Definitions</label>
          <div class="control">
            <div class="select">
              <select id="crd">
                <!--
                     Iterates through all crd resources and generates an option entry
                     for each version of each crd.

                     The value of the option is set to the link it needs to direct to
                -->
                {% for crd in crds %}
                  {% for version in crd.spec.versions %}
                      <option value='{{ url_for('admin_service_create_crd', name=crd.metadata.name, version=version.name) }}'>
                          {{ crd.spec.names.kind }} - {{ version.name }}
                      </option>
                  {% endfor %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <a id="next-button" onclick="submitLink()" class="button is-success">Next</a>
    </div>
</div>

{% else %}
<div class="hero">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        There are no custom resources found, Deploy an Operator first
      </h1>
    </div>
  </div>
</div>
{% endif %}
</section>
{% endblock %}
